.one {
  height: 5em;
  width: 100%;
  background-color: lightblue;
}
.two {
  height: 850px;
  width: 5em;
  background-color: lightblue;
}
.logo {
  height: 3em;
  margin-left: 20px;
  margin-top: 20px;
}
.title {
  font-weight: bold;
  font-size: 2.5em;
}
.image {
  height: 11.5em;
  width: 11.5em;
  background-color: lightgrey;
  margin-top: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.ft {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
   
}

.fe {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
   
}
.Lwrap {
  height: 100%;
  width: 100%;
  background-image: url(https://images.wallpaperscraft.ru/image/gorod_vid_sverhu_zdaniia_140642_1920x1080.jpg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-color: aqua;
}
.Rwrap {
  height: 100%;
  width: 100%;
  background-color: aqua;
  background-image: url(https://images.wallpaperscraft.ru/image/gorod_vid_sverhu_zdaniia_140642_1920x1080.jpg);
}
